@model IEnumerable<Lab02.Models.Product>

@{
    ViewData["Title"] = "Order";
}

<h1>Order page</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Subtotal: 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.cart)
        {
        <tr>
            <td>
                @item.Product.ProductName
            </td>
            <td>
                <img src="@item.Product.Photo" width="110" />
            </td>
            <td>
                @item.Product.Price
            </td>
            <td>
                <input type="number" name="qoh" value="@item.Quantity"/>
            </td>
            <td>
                $ @(item.Product.Price * item.Quantity)
            </td>
            <td>
                <a asp-action="Remove" asp-controller="Order"
                asp-route-id="@item.Product.ProductId">Remove</a> |
            </td>
        </tr>
    }
        <tr>
            <td colspan="5" align="right">
                Total:
                @ViewBag.subtotal
            </td>
        </tr>
        <tr>
            <td colspan="5" align="right">
                <a asp-controller="Home" asp-action="Index">Shopping continue</a>
                ||
                <a asp-controller="Order" asp-action="Success">Check out</a>
            </td>
        </tr>
    </tbody>
</table>
