@model IEnumerable<Lab02.Models.Product>
@addTagHelper *, Lab2
@{
    ViewData["Title"] = "Index";
}

<h1>Product list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QrCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BarCode)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="@item.Photo" width="110" />
            </td>
            <td>
                <qrcode content="@item.QrCode" width="110" height="110"/>
            </td>
            <td>
                <a asp-action="Buy" asp-route-id="@item.ProductId" asp-controller="Order">Add to cart</a> |
            </td>
        </tr>
}
    </tbody>
</table>
